* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navbar .nav-links{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  #navbar .nav-links:hover {
    color: #17cf97;
  }
  
  .activePage {
    color: #17cf97 !important;
  }

  #navbar .nav-links:hover::after,
  #navbar .nav-links.active::after {
    content: "";
    background: #17cf97;
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    align-items: center;
  }
  
  @media screen and (max-width: 769px) {
    #navbar {
      flex-direction: column;
      position: fixed;
      justify-content: flex-start;
      /* align-items: flex-start; */
      top: 90px;
      right: -300px;
      width: 300px;
      height: 100svh;
      background-color: #2a3239;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: all 0.3s ease-in-out;
    }
  
    #navbar.active {
      right: 0px;
    }
  
    #navbar li {
      margin-bottom: 70px;
    }
  
    #navbar .nav-links {
      padding: 30px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
    }
  
    #navbar .nav-links:hover::after,
    #navbar .nav-links.active::after {
      left: 50px;
    }
  }
  